<div id="portfolioComponent">
  <h2 align="center" style="color:whitesmoke;">What have I done lately?</h2>
  <br />

  <div class="portfolio-container">

    <div class="screenshot-container">
      <br />
      <br />
      <h3>Soon...</h3>
      <div class="sliding_box">
        <span>Project description</span>
      </div>
    </div>

    <div class="screenshot-container">
      <br />
      <br />
      <h3>Soon...</h3>
      <div class="sliding_box">
        <span>Project description</span>
      </div>
    </div>

    <div class="screenshot-container">
      <br />
      <br />
      <h3>Soon...</h3>
      <div class="sliding_box">
        <span>Project description</span>
      </div>
    </div>
  </div>
</div>
