<div id="about-component">
  <h2 >Who am I?</h2>
  <h5>(couldn't resist to this one)</h5>
  <br />
  <div class="image-container">
    <div id="circle"></div>
  </div>
  <br />
  <p>
    nnnnnnnnnnnn nnnnnnn nnnnnnnn nnnnnnnn nnnnnnnnnn nnnnnnnnn nnnnnnnnnnnnnnnnn nnnnnnnnnnnnn nnnnnnn
    nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnn
    nnnnnnnnnnnnnn nnnnnnnnnnnnn nnnnnnnnnnnnn nnnnnnnnnnnnnn nnnnnnnnnnnnn nnnn nnnn nnnnnnnn nnnnnnnn
    nnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn nnnnnn nnnnnn nnnnnnnn
    nnnnnnnnnnnnnnnnn nnnnnnnnnn nnnnnnnnnnnn nnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn nnnnn nnnnnnnnnnnnnnn
    nnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn nnnnnn nnnnnn nnnnnnnn
    nnnnnnnnnnnnnnnnn nnnnnnnnnn nnnnnnnnnnnn nnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnn nnnnn nnnnnnnnnnnnnnn
    nnnnnnnnn nnnnnnnnnnnnnnnnnn nnnnnnn nnnnnnnnnnnnnnnnnnnn nnnnnnnnn nnnnnnnn nnnnnnnnn nnnnnnnnnnn
    nnnnnnnnnnnnnnn nnnnnnnnnnnn nnnnnnnnnnnnn nnnnnnnnnnnnnn nnnnnnnn nnnnnnnnn nnnnnnnnnnnnnnnnnnnn
  </p>
</div>
