
#about-component {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 100px 0;
  text-align:center;
  overflow:hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 0px;
}

#circle {
  -webkit-box-shadow: 0px 0px 0px 16px whitesmoke;
  -moz-box-shadow: 0px 0px 0px 16px whitesmoke;
  box-shadow: 0px 0px 0px 16px whitesmoke;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  opacity: 1;
  overflow: hidden;
}
  #circle img {
    height:280px;
    width: 280px;
    transform: scale(1.2);
    transition: ease-in-out;
    opacity: 0.9;
  }

  p {
    color: dimgray;
    font-size: 1.3em;
    margin: 2% 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.resume {
 display: flex;
 flex-direction: row;
 align-items: center;
 color: white;
 background-color: sandybrown;
 padding: 7px 15px;
 border-radius: 7px;
 cursor: pointer;
 transition:100ms ease-in;
}
  .resume p, .resume i {
    color: white;
    font-size: 1em;
    margin:0;
    font-size: 1.4em;
    opacity:0.7;
  }
  .resume:hover p, .resume:hover i {
   opacity:1;
  }

span.orange {
 color: sandybrown;
}

@media only screen and (max-width: 1700px) {
  p {
    font-size: 1.3em;
  }
  .resume p {
    font-size: 1em;
  }
}

  @media only screen and (max-width: 600px) {

    #about-component {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 10% 0%;
      text-align: center;
    }

    .image-container {
      display: flex;
      justify-content: center;
      border-radius: 100%;
      padding: 10px 0;
    }


    #circle {
      background-color: darkseagreen;
      border-radius: 50%;
      width: 225px;
      height: 225px;
      opacity: 1;
      overflow: hidden;
    }

      #circle img {
        height: 225px;
        width: 225px;
        transform: scale(1.2);
        transition: ease-in-out;
      }

    p {
      font-size: 1.4em;
      margin: 5% 10%;
    }
  }
