<div id="skills-component">
  <h2 align="center" >What am I good at?</h2>

  <br /><br />
  <div class="skills">
    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/html.png" alt="">
        <div class="back photo-desc">
          <p>Hypertext Markup Language 5</p>
          <a href="#" class="button">Info</a>
        </div>
      </div>
      <div class="skill-header"> HTML 5 </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/css.png" alt="">
        <div class="back photo-desc">
          <p>Cascading Style Sheets 3</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> CSS 3 </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/js.png" alt="">
        <div class="back photo-desc">
          <p>Just-in-time compiled prog. language</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> JavaScript </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/ts.png" alt="">
        <div class="back photo-desc">
          <p>Superset of JavaScript</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> TypeScript </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/angular.png" alt="">
        <div class="back photo-desc">
          <p>Moderan Frontend Framework</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> Angular2+ </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/bootstrap.png" alt="">
        <div class="back photo-desc">
          <p>Most popular JavaScript library</p>
          <a href="#" class="button">Info</a>
        </div>
      </div>
      <div class="skill-header"> Bootstrap </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/csharp.png" alt="">
        <div class="back photo-desc">
          <p>Object oriented programming language</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> C# </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/Microsoft.VisualStudio.Services.Icons.png" alt="">
        <div class="back photo-desc">
          <p>Backend framework (.Net)</p>
          <a href="#" class="button">Info</a>
        </div>
      </div>
      <div class="skill-header"> ASP.Net Core </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/LINQ.jpg" alt="">
        <div class="back photo-desc">
          <p>Language Integrated Query</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> LINQ </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/tsql.png" alt="">
        <div class="back photo-desc">
          <p>Transact SQL</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> T-SQL </div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/entity.png" alt="">
        <div class="back photo-desc">
          <p>Object Relational Mapper </p>
          <a href="#" class="button">Info</a>
        </div>
      </div>
      <div class="skill-header"> Entity F.</div>
    </div>

    <div class="cube-container">
      <div class="photo-cube">
        <img class="front" src="../../assets/img/git.png" alt="">
        <div class="back photo-desc">
          <p>Distributed version control system</p>
          <a href="#" class="button"> Info </a>
        </div>
      </div>
      <div class="skill-header"> GIT </div>
    </div>
  </div>
  <br />
</div>
