<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<br />
<div id="services">
    <h2 class="text-center titulo-sec fU" style="color:dimgray;">What services do I offer?</h2>
    <br /><br /><br />
    <div class="all">
      <div class="service">
        <div class="ilustration">
          <i class="fa fa-laptop fa-5x"></i>
        </div>
        <p class="lead">Creating web applications</p>
        <p>Frontend and Backend - From idea to reality</p>
      </div>

      <div class="service">
        <div class="ilustration" >
          <i class="fa fa-cogs fa-5x"></i>
        </div>
        <p class="lead">Support and upgrade of existing websites</p>
        <p>It doesn't matter if it's mine project or someone else's</p>
      </div>

      <div class="service">
        <div class="ilustration">
          <i class="fa fa-server fa-5x"></i>
        </div>
        <p class="lead">Web hosting and domain registration</p>
        <p></p>
      </div>
    </div>
  </div>
<br /><br />
