#services {
 padding: 8vh 10%;
 background-color:whitesmoke;
}

.all {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin:2%;
}

.ilustration {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: cadetblue;
  height:220px;
  width: 220px;
  margin: 20px 0;
  color: white;
  border-radius: 50%;
  transition: ease 0.5s;
}

  .ilustration.sandybrown {
    background-color: sandybrown;
  }


  .ilustration.lightgray {
    background-color: darkgray;
  }

  .ilustration.indianred {
    background-color: indianred;
  }


  .ilustration.lightgreen {
    background-color: darkseagreen;
  }


  .ilustration:hover {
    transform: rotateZ(-15deg)
  }

.lead {
color: dimgray;


}
.lead, p {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  @media only screen and (max-width: 600px) {

    .service {
      width: 300px;
    }

    .ilustration {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      background-color: cadetblue;
      height: 130px;
      width: 130px;
      margin: 10px 0;
      color: white;
      border-radius: 50%;
      transition: ease 0.5s;
    }
    i {
      font-size:2em;
    }

    .lead {
      font-size: 1.1em;
    }
    p {
      font-size:0.9em;
    }
}
