<div class="contact-component">

  <h2 align="center">You like what you see? Feel free to contact me</h2>
  <br />  
  <div class="informations">

    <div class="info">
      <h3>Contact Info</h3>

      <ul>

        <li><i class="fa fa-phone fa-2x"></i></li>
        <li> (+382)68/066-583</li>
        <li><i class="fa fa-envelope fa-2x"></i> </li>
        <li>npr@3gproxy.com</li>
        <li><i class="fa fa-location-arrow fa-2x"></i></li>
        <li> Podgorica, Montenegro</li>
      </ul>
    </div>
 
    <br />
    <div class="email-part">
      <h3 style="font-family:'Lucida Console';color:dimgray;">E-mail me</h3>

      <div class="pulse"><i class="fa fa-angle-double-down fa-2x"></i> </div>

      <div class="inputs">
        <p>
          <label>Name*</label>
          <input type="text" name="name" id="name" required [(ngModel)]="email.name">
        </p>

        <p>
          <label>Company</label>
          <input type="text" name="company" id="company" [(ngModel)]="email.company">
        </p>

        <p>
          <label>E-mail Address*</label>
          <input type="email" name="email" id="email" required [(ngModel)]="email.emailAddress">
        </p>

        <p>
          <label>Phone Number</label>
          <input type="text" name="phone" id="phone" [(ngModel)]="email.phoneNumber">
        </p>

        <p class="full">
          <label>Message*</label>
          <textarea name="message" rows="5" id="message" [(ngModel)]="email.message"></textarea>
        </p>
      </div>
      <button class="btn btn-default" type="submit" (click)="sendEmail()">Send</button>
    </div>

  </div>

</div>

