.contact-component {
  display:flex;
  justify-content:center;
  flex-direction:column;
  width: 100%;
  height: auto;
  padding: 100px 0vw;
  background-color:whitesmoke;
}

ul {
  display:flex;
  flex-direction:column;
  justify-content:center;
  list-style: none;
  padding: 0;
}


/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */
.informations {
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
}

.info {
  display: flex;
  justify-content: center;
  width: 300px;
  height: auto;
  flex-direction: column;
  background-color: darkslategray;
  border-radius: 10%;
  padding: 5%;
  margin: 5%;
}

  .info h3,
  .info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    color: lightgoldenrodyellow;
  }

/* ------- */
/* CONTACT */
/* ------- */

div.email-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  padding: 5%;
}

  /* ---- */
  /* FORM */
  /* ---- */

  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

    .inputs label {
      display: block;
    }

    .inputs p {
      margin: 0;
    }

    .inputs .full {
      grid-column: 1 / 3;
    }


    .inputs input,
    .inputs textarea {
      width: 100%;
      padding: 1em;
      border: solid 1px dimgray;
      border-radius: 4px;
    }

     button {
      width: 150px;
      font-family: 'Lucida Console';
      background-color:transparent;
      color: cadetblue;
      border: 2px solid cadetblue;
      margin:3%;
    }
.inputs input {
 height:15px;
}
.inputs textarea {
  resize: none;
}

p {
  font-family: 'Lucida Console';
  color: dimgray;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.35, 1.35, 1.35);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  color: sandybrown;
  animation-name: pulse;
  animation-duration:1s;
  animation-iteration-count: infinite;
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    flex-direction: column;
    background-color: darkslategray;
    border-radius: 10% ;
    padding: 5%;
    margin: 5%;
  }
    .info h3,
    .info ul {
      text-align: center;
      margin: 0 0 1rem 0;
      color: lightgoldenrodyellow;
    }
  .email-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-color: lightgoldenrodyellow;
    padding: 5%;
  }

}
