<div style="background-color:cadetblue">
  <br /><br />
  <h2 align="center">Svidja Vam se što vidite? </h2>
  <h2 align="center">Kontaktirajte me </h2>


  <div class="row input-container">
    <div class="col-xs-12">
      <div class="styled-input wide">
        <input type="text" required />
        <label>Ime</label>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="styled-input">
        <input type="text" required />
        <label>Email</label>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="styled-input" style="float:right;">
        <input type="text" required />
        <label>Broj Telefona</label>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="styled-input wide">
        <textarea required></textarea>
        <label>Poruka</label>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <button class="btn btn-outline-secondary submit-btn">Pošalji Poruku</button>
  </div>
  <br />
  <br />
</div>
