

.nav-area {
  position: fixed;
  top: 0;
  padding:13px 0;
  width: 100vw;
  background-color: darkseagreen;
  transition: ease 0.8s;
}

.nav-area1 {
  position: fixed;
  top: 0;
  padding: 13px 0;
  width: 100vw;
  background-color: rgba(95, 158, 160, 0);
  transition: ease 0.8s;
}

nav {
 margin:0;
 padding:0;
}

button:focus {
  outline: none;
}

i {
 color:darkseagreen;
}

a.a1 {
  color: white;
  padding: 5px 10px 1px 10px;
  font-family: 'Lucida Console';
  font-size: 1.2em;
  cursor: pointer;
  transition: 200ms ease-in;
}

a.a2 {
  color: white;
  padding: 5px 10px 1px 10px;
  font-family: 'Lucida Console';
  font-size: 1.2em;
  cursor: pointer;
  transition: 200ms ease-in;
}

a.a1:hover {
  color: white;
}
a.a2:hover {
  color: darkseagreen;
}

a.a1.focus {
  color: dimgray;
}
a.a2.focus {
  color: darkseagreen;
}

ul {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.contact_button1 {
  font-family: 'Lucida Console';
  padding:5px;
  border-radius:10px;
  border: 2px solid white;
  color: white;
  width: 150px;
  background-color: transparent;
  font-size: 1.2em;
}

.contact_button2 {
  font-family: 'Lucida Console';
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  width: 150px;
  background-color: transparent;
  font-size: 1.2em;
}

.contact_button1:hover {
  color: dimgray;
  border-color: dimgray;
}

.contact_button2:hover {
  color: darkseagreen;
  border-color: darkseagreen;
}

button.contact_button1.focus {
  color: dimgray;
  border: 2px solid dimgray;
  outline: none;
}
button.contact_button2.focus {
  color: indianred;
  border: 2px solid indianred;
}

li {
  list-style: none;
  margin: 0 5px;
}

@media only screen and (max-width: 950px) {

  .nav-area, .nav-area1 {
    background-color:transparent;
  }

  nav>ul {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: 0;
    margin: 0;
    background-color: darkseagreen;
    opacity:0;
    transform:translateX(-100%);
    transition: 300ms ease-in-out;
  }

  nav>.open {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: 0;
    margin: 0;
    background-color: darkseagreen;
    opacity: 1;
    transform: translateX(0%);
  }
  li {
    margin:4vh;
    list-style: none;
  }

}

/*Social networks liks*/



#mainNav {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  position: fixed;
  top: 70vh;
  left: -195px;
  width: 210px;
  height: 70px;
  background-color: white;
  padding-right: 10px;
  padding-left: 15px;
  cursor: pointer;
  box-shadow: 4px 1px 2px #CCC;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  opacity: 0.8;
}

  #mainNav li {
    margin: 10px;
  }

  #mainNav i {
    color: cadetblue;
  }
    #mainNav i:hover {
      color: dimgray;
    }

  #mainNav:hover {
    left: 0%;
    transition-property: left;
    -moz-transition-property: left;
    -webkit-transition-property: left;
    -o-transition-property: left;
    transition-duration: 100ms;
    transition-timing-function: linear;
    transition-delay: 0s;
    -moz-transition-duration: 200ms;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-duration: 200ms;
    -o-transition-timing-function: linear;
    -o-transition-delay: 0s;
  }
